# B-A-R*BOT Kokteyl Chatbotu İçin Gerekli Kütüphaneler

# Veri İşleme
pandas

# Gradio Arayüzü
gradio

# Google Gemini API
google-genai

# Diğer Gerekli Modüller (Görsel İşleme ve Genel Bağımlılıklar)
Pillow
